:root {
    --bg-color: #f4f4f4; 
    --incorrect-bg-color: red; 
    --font-size: 3rem; 
}
#app {
    text-align: center; 
    margin: auto; 
    width: 50%; 
    border: 3px solid var(--bg-color) ;
    padding: 10px; 
}
.incorrect {
    background-color: var(--incorrect-bg-color); 
}
.op {
    font-size: var(--font-size); 
}
.num {
    padding: 1rem; 
    margin: 1rem; 
    font-size: var(--font-size); 
    /* background-color: var(--bg-color);  */
}